@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&amp;family=Sen:wght@400;700;800&amp;display=swap');

:root
{
    --primary-color: rgb(26, 197, 105);
    --secondary-color: rgb(239, 239, 239);
}
body
{
    font-family: "Sen";
    width: 100%;
}
main
{
    width: 100%;
    min-height: 100vh;
    display: grid;
}
.side-fixed {
    width: 50%; 
    height: 108%;
    background-color: rgb(164, 210, 190);
    position: relative;
  }
  .side-fixed::before {
    content: "";
    display: block;
    width: 110%;
    height: 100%;
    background-image: url(../images/guy-thinking.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0px;
    position: absolute;
    top: -80px;
    left: -150px;
  }
  
.timer
{
    border-radius: 50%;
    background: transparent;
    width: 150px;
    height: 150px;
    border: solid 5px var(--primary-color);
    display: grid;
    place-content: center;
    position: absolute;
    top: 50px;
    left: 30px;
}
#countdown-timer
{
    width: 120px;
    height: 120px;
    background-color: rgb(255,255,255);
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 55px;
    font-weight: bold;
    color: rgb(0, 0, 0); 


}
/* side svg */
.svg-1
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;

}
.main-bg {
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 50%;
    height: 110vh; 
}

.main-inner
{
    width: 79%;
    height: 90%;
    margin-bottom: 50px;
    padding-left: 50px;

}
.step-count
{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 0%;
    justify-content: center;
}
.number-single
{
    display: flex;
    transition: 0.5s;
}
.number-single .stepnumber
{
    width: 120px;
    height: 60px;
    font-size: 35px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(160, 211, 189);
    position: relative;
    display: grid;
    place-content: center;
    transition: 0.5s;
}
.svg2
{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -23px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(0%) saturate(0%) hue-rotate(228deg) brightness(97%) contrast(79%);
}

.number-single::after
{
    content: "";
    width: 70px;
    height: 6px;
    background-color: rgb(205,205,205);
    display: inline-block;
    transition: 0.5s;
}
.no-line::after
{
    display: none;
}
.number-single.active .stepnumber
{
    background-color: var(--primary-color);
}
.number-single.active .svg2
{
    filter: brightness(0) saturate(100%) invert(56%) sepia(20%) saturate(6365%) hue-rotate(149deg) brightness(99%) contrast(89%);
}
.number-single.active::after
{
    background-color: var(--primary-color);
}
.next-prev
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50px;
    bottom: 50px;
    flex-wrap: wrap;
}
.next-prev button
{
    width: 265px;
    height: 75px;  
    background-color: rgb(255, 255, 255);
    border: 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold; 
    text-transform: uppercase;
    position: relative;
    padding-top: 5px;
}

.next-prev button i
{
    position: relative;
    top: 1px;
    margin: 0 10px;
}
.next-prev button img
{
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: auto;
}


.next-prev .next
{
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
}
.next-prev .next img
{
    filter: brightness(0) saturate(100%) invert(56%) sepia(20%) saturate(6365%) hue-rotate(149deg) brightness(99%) contrast(89%);

}





form
{
    margin-top: 120px;
}
.quiz-question
{
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
fieldset
{
    margin-top: 50px;
    overflow: hidden;
}
.radio-field
{
    height: 70px;
    width: 100%;
    display: grid;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    padding-left: 30px;
}
.radio-field input
{
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(239,239,239);
    cursor: pointer;
    transition: 0.5s;
}
.svg3
{
    position: absolute;
    left: 0;
    bottom: -27px;
    width: 100%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(147%) hue-rotate(180deg) brightness(113%) contrast(87%);
}
.radio-field label
{
    font-size: 30px;
    color: rgb(0, 10, 56);
    font-weight: bold;  
    pointer-events: none;
    position: relative;
    z-index: 10;
    margin-top: 20px;
    text-align: center;
    transition: 0.5s;
}
.radio-field label::before
{
    content: "X";
    color: rgb(0, 0, 0);
    border: solid 1px rgb(205, 205, 205);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 53px;
    height: 53px;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    place-content: center;
}
.radio-field .op1::before
{
    content: "A";
}
.radio-field .op2::before
{
    content: "B";
}
.radio-field .op3::before
{
    content: "C";
}
.radio-field .op4::before
{
    content: "D";
}
.radio-field input:checked
{
    background-color: var(--primary-color);
}
.radio-field input:checked~label
{
    color: rgb(255, 255, 255);
}
.radio-field input:checked~.svg3
{
    filter: brightness(0) saturate(100%) invert(56%) sepia(20%) saturate(6365%) hue-rotate(149deg) brightness(99%) contrast(89%);

}


.question
{
    position: absolute;
    top: 150px;
    right: 0;
}







#error div
{
    position: fixed;
    top: 20px;
    left: 20px;
}


